html, body {
  height: 100vh;
}

Body {
  margin: 0;
  background-color: rgb(202, 198, 191);
  display: grid;
  grid-template-columns: auto 27% 27%  27%  ; 
  grid-template-rows: 8% 30% auto 10%;
  grid-gap: 10px;
  grid-template-areas:
    " sidebar header  header    header"
    " sidebar sect1   sect2    sect3"
    " sidebar main    main     main"
    " sidebar footer  footer   footer"
 
}

aside {
 grid-area: sidebar;
 background-color: blue
}

header {
 grid-area: header;
 background-color: rgb(18, 116, 43)

}

Section:nth-of-type(1) {
 grid-area: sect1;
 background-color: rgb(45, 168, 41)

}
Section:nth-of-type(2) {
 grid-area: sect2;
 background-color: rgb(184, 173, 25)

}
Section:nth-of-type(3) {
 grid-area: sect3;
 background-color: rgb(28, 27, 109)

}
footer {
 grid-area: footer;
 background-color: aqua

}

main {
 grid-area: main;
 background-color: brown

}